@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap");
@import url("Assets/Library/bootstrap/icons/bootstrap-icons.min.css");
body {
  max-width: 100%;
  overflow-x: hidden;
}

.navbar-nav .nav-link {
  margin: 20px;
  font-size: 14px;
  font-family: "Playwrite HU";
  color: whitesmoke;
}

.navbar {
  transition: all 1s;
}

.navbar-scrolled {
  background-color: #4e3c3b;
}

.navbar .merk {
  color: chocolate;
  font-family: "Playwrite HU";
}

.navbar-nav .nav-link.active {
  font-size: 14px;
  font-family: "Playwrite HU";
  color: whitesmoke;
  border-bottom: 3px solid white;
}

.navbar-nav .nav-link:hover {
  font-size: 14px;
  font-family: "Playwrite HU";
  color: whitesmoke;
  font-weight: bold;
}

.navbar a.navbar-brand {
  font-size: 16px;
  color: whitesmoke;
  font-family: "Playwrite HU";
}

.navbar .bi-list {
  color: white;
  font-size: 2rem;
}

.navbar .bi-x {
  color: white;
  font-size: 2rem;
}

.navbar-toggler {
  color: white;
  border: none !important;
  box-shadow: none !important;
}

.jargon h3 {
  font-family: "Playwrite HU";
}

.parallax {
  background-image: url("Assets/Images/bgBrownies.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.about {
  padding: 150px 0 0;
  background: linear-gradient(45deg, #2e2e2e, #3e2723, #1c1c1c);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about p {
  word-spacing: 10px;
  text-align: justify;
  color: whitesmoke;
}

.about button {
  background-color: chocolate !important;
  color: white !important;
  font-size: 22px;
  width: 175px;
  height: 60px;
}

.promosi {
  margin-top: 180px;
}

.promosi .merk-depan {
  color: whitesmoke;
  font-family: "Playwrite HU";
  font-size: 25px;
}

.promosi .merk-belakang {
  color: chocolate;
  font-family: "Playwrite HU";
  font-size: 25px;
}

.menu {
  /* background: linear-gradient(45deg, #2e2e2e, #3e2723, #1c1c1c); */
  background-color: #251409;
  padding: 100px 0 50px;
}

.menu .merk-depan {
  color: whitesmoke;
  font-family: "Playwrite HU";
}

.menu .merk-belakang {
  color: chocolate;
  font-family: "Playwrite HU";
}

.nav-tabs .nav-link {
  margin: 5px 20px;
}

.menu a {
  color: white;
  font-size: 20px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.menu a:hover {
  color: white;
  background-color: chocolate;
  border: none;
}

.menu .nav-link.active {
  background-color: chocolate;
  color: whitesmoke;
  border: none;
}

.menu h3 {
  color: whitesmoke;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.menu .card,
.menu .card-text {
  background-color: #4e3c3b;
  color: whitesmoke;
}

.card:hover {
  transform: translateY(-10px);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal p {
  text-align: justify;
}

.modal-body p {
  font-size: 1rem;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.testimoni {
  background-color: #3e281d;
  padding: 200px 0 200px;
}

.testimoni .carousel-control-prev i,
.testimoni .carousel-control-next i {
  font-size: 1.563rem;
  font-weight: bold;
  color: white;
}

.testimoni p {
  color: whitesmoke;
}

.testimoni h3 {
  color: whitesmoke;
}

.faq {
  margin-top: 150px;
}

.faq hr {
  background-color: whitesmoke;
  height: 2px;
}

.faq p {
  color: rgb(167, 165, 165);
}

.faq .accordion .accordion-button {
  background-color: rgb(120, 52, 3);
  border: none !important;
  box-shadow: none !important;
  color: white !important;
}

.faq .accordion .accordion-button:hover {
  background-color: rgb(165, 73, 8);
}

.faq .accordion .accordion-button:active {
  background-color: rgb(165, 73, 8);
}

.faq .accordion .accordion-button::after {
  background-image: none !important;
  content: "\F282";
  text-align: center;
  font-family: "bootstrap-icons";
  color: white;
}

.contact {
  background-color: #663c27;
  padding: 100px 50px 50px;
  color: whitesmoke;
}

.card-contact {
  background: linear-gradient(135deg, #523223, #42281c);
}

.contact a {
  background-color: chocolate !important;
  color: white !important;
  font-size: 1rem;
  font-weight: bold;
  width: 13rem;
  height: auto;
}

.contact a:hover {
  background-color: transparent !important;
  border: 1.5px solid chocolate !important;
  transition: all 0.3s;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.contact .location {
  margin-top: 4rem;
}

.contact .merk-depan {
  font-family: "Playwrite HU";
  color: whitesmoke;
}

.contact .merk-belakang {
  color: chocolate;
  font-family: "Playwrite HU";
}

.contact .info-contact h5 {
  margin-bottom: 0;
}

.contact .location .d-flex {
  margin-top: 1.875rem;
}

.footer {
  background-color: #4e3c3b;
}

.footer .merk-depan {
  font-family: "Playwrite HU";
  font-size: 25px;
  color: whitesmoke;
}

.footer .merk-belakang {
  color: chocolate;
  font-family: "Playwrite HU";
  font-size: 25px;
}

.footer a {
  font-size: 1rem;
  cursor: pointer;
}

.footer .footer-contact p {
  margin-bottom: 5px !important;
}

.footer .bi-whatsapp {
  font-size: 1rem;
}

.footer .bi-envelope {
  font-size: 1rem;
}

.footer .bi-pin-map-fill {
  font-size: 1rem;
}

.footer .email {
  color: whitesmoke;
  font-size: 1rem;
}

.footer .map {
  color: whitesmoke;
  font-size: 1rem;
}

.quick-link a {
  text-decoration: none;
  color: whitesmoke;
}

/* Tablet */
@media (max-width: 850px) {
  .navbar {
    background-color: #4e3c3b;
  }

  .navbar .container {
    margin: 20px auto;
  }

  .navbar-nav {
    align-items: center;
  }

  .navbar-nav .nav-item {
    margin: 3px 0;
  }

  .parallax img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }

  .about img {
    height: 267px;
    width: 400px;
  }

  .menu {
    padding: 50px 0;
  }

  .footer .footer-about p {
    margin-bottom: 5px !important;
  }
}
/* End Tablet */

/* Handphone */
@media (max-width: 500px) {
  .navbar {
    background-color: #4e3c3b;
  }

  .navbar .navbar-nav {
    align-items: center;
  }

  .navbar .container {
    margin: 20px 0;
  }

  .navbar-nav .nav-link {
    font-size: 12px;
    padding: 5px;
  }

  .navbar-brand {
    font-size: 14px;
  }

  .parallax img {
    height: 250px;
    width: 250px;
    object-fit: cover;
  }

  .about img {
    width: 300px;
    height: 300px;
  }

  .contact {
    padding: 100px 25px 50px;
  }

  .contact img {
    width: 300px;
    height: 300px;
  }

  .contact .card-contact p {
    text-align: justify;
  }

  .footer .footer-about p {
    margin-bottom: 5px !important;
  }
}
/* End Handphone */

/* Small Handphone */
@media (max-width: 400px) {
  .navbar {
    background-color: #4e3c3b;
  }

  .contact {
    padding: 100px 0 50px;
  }

  .contact .card-contact p {
    text-align: justify;
  }

  .footer .footer-about p {
    margin-bottom: 5px !important;
  }
}
