@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap");
body {
  max-width: 100%;
  overflow-x: hidden;
}

.navbar-nav .nav-link {
  margin: 20px;
  font-size: 14px;
  font-family: "Playwrite HU";
  color: whitesmoke;
}

.navbar .merk {
  color: chocolate;
  font-family: "Playwrite HU";
}

.navbar-nav .nav-link.active {
  font-size: 14px;
  font-family: "Playwrite HU";
  color: whitesmoke;
  border-bottom: 3px solid white;
}

.navbar-nav .nav-link:hover {
  font-size: 14px;
  font-family: "Playwrite HU";
  color: whitesmoke;
  font-weight: bold;
}

.navbar a.navbar-brand {
  font-size: 16px;
  color: whitesmoke;
  font-family: "Playwrite HU";
}

.navbar-toggler,
.navbar-toggler-icon {
  color: white;
  background-color: white;
}

.jargon h3 {
  font-family: "Playwrite HU";
}

.parallax {
  background-image: url("Assets/bgBrownies.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.about {
  padding: 60px 0;
  background-color: black;
}

.about h3 {
  color: whitesmoke;
}

.about p {
  word-spacing: 10px;
  text-align: justify;
  color: whitesmoke;
}

.promosi {
  margin-top: 180px;
}

.promosi .merk-depan {
  color: whitesmoke;
  font-family: "Playwrite HU";
  font-size: 25px;
}

.promosi .merk-belakang {
  color: chocolate;
  font-family: "Playwrite HU";
  font-size: 25px;
}

.menu {
  background-color: rgb(36, 19, 7);
  padding: 100px 0 15px;
}

.menu .merk-depan {
  color: whitesmoke;
  font-family: "Playwrite HU";
}

.menu .merk-belakang {
  color: chocolate;
  font-family: "Playwrite HU";
}

.nav-tabs .nav-link {
  margin: 5px 20px;
}

.menu a {
  color: white;
  font-size: 20px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.menu a:hover {
  color: white;
  background-color: chocolate;
  border: none;
}

.menu .nav-link:visited {
  background-color: chocolate;
  color: whitesmoke;
  border: none;
}

.menu h3 {
  color: whitesmoke;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: 570px;
}

.menu .card,
.menu .card-text {
  background-color: #4e3c3b;
  color: whitesmoke;
}

.card:hover {
  transform: translateY(-10px);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal p {
  text-align: justify;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
  text-align: justify;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.modal-body p {
  font-size: 1rem;
}

.KritikSaran {
  margin-top: 140px;
  color: whitesmoke;
}

.contact {
  background-color: rgb(30, 30, 30);
  /* margin-top: 200px; */
  padding: 100px 50px 50px;
  color: whitesmoke;
}

.contact form button {
  width: 150px;
  height: 60px;
  font-size: 25px;
}

.contact label {
  font-size: 20px;
}

.faq {
  margin-top: 200px;
}

.faq h3 {
  color: whitesmoke;
}

.accordion-button {
  height: 80px;
}

.testimoni {
  background-color: black;
  padding: 250px 0 300px;
}

.testimoni .carousel-control-prev-icon,
.testimoni .carousel-control-next-icon {
  background-color: blue !important;
  color: white !important;
  width: 50px;
  height: 50px;
}

.testimoni p {
  color: whitesmoke;
}

.testimoni h3 {
  color: whitesmoke;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.footer {
  background-color: #4e3c3b;
}

.footer a {
  font-size: 1.25rem;
  cursor: pointer;
}

.footer .bi-whatsapp {
  font-size: 20px;
}

.footer .bi-envelope {
  font-size: 20px;
}

.footer .bi-pin-map-fill {
  font-size: 20px;
}

.footer .nomor {
  color: whitesmoke;
  font-size: 1.25rem;
}

.footer .email {
  color: whitesmoke;
  font-size: 1.25rem;
}

.footer .map {
  color: whitesmoke;
  font-size: 1.25rem;
}

/* 4k */
@media (min-width: 2560px) {
  .navbar .container {
    width: 90% !important;
    max-width: 100% !important;
  }

  .navbar-nav .nav-link {
    font-size: 30px !important;
    margin: 50px;
  }

  .navbar .merk {
    font-size: 50px !important;
  }
  .navbar a.navbar-brand {
    font-size: 50px !important;
  }

  .parallax img {
    height: 700px !important;
    width: 700px !important;
  }

  .jargon h3,
  .jargon .btn {
    font-size: 60px !important;
    margin-top: 60px !important;
  }

  .about {
    padding: 120px 0 !important;
  }

  .about h3 {
    font-size: 70px !important;
  }
  
  .about img.aboutImg {
    height: 800px !important;
    width: 1000px !important;
    margin: 80px 0 !important;
  }

  .about img {
    height: 400px !important;
    width: 700px !important;
  }

  .about p {
    font-size: 40px !important;
    margin-top: 65px !important;
  }

  .promosi {
    margin-top: 290px !important;
  }

  .promosi .merk-depan,
  .promosi .merk-belakang {
    font-size: 55px;
  }

  .promosi .row {
    justify-content: space-evenly !important;
  }

  .menu {
    padding: 200px 0 !important;
  }

  .menu .card {
    margin: 15px !important;
  }

  .menu h3,
  .menu .merk-depan,
  .menu .merk-belakang {
    font-size: 70px !important;
  }

  .menu ul {
    margin-top: 60px !important;
  }

  .menu .nav-link {
    font-size: 40px !important;
  }

  .menu .container {
    width: 80% !important;
    max-width: 100% !important;
  }

  .menu .card {
    height: 770px !important;
  }

  .card-body {
    padding: 30px 0 !important;
  }
  
  .menu .card-body .merk-depan,
  .menu .card-body .merk-belakang,
  .menu .card-body h1,
  .menu .card-body p {
    font-size: 30px !important;
  }

  .card-img-top {
    height: 430px !important;
  }

  .contact .container {
    width: 90% !important;
    max-width: 100% !important;
  }

  .contact h3 {
    font-size: 70px !important;
  }

  .contact .fs-4 {
    font-size: 40px !important;
  }

  .contact .fs-5 {
    font-size: 30px !important;
  }

  .contact .card-info .container {
    max-width: 100% !important;
    width: 100% !important;
  }

  .contact label {
    font-size: 30px !important;
  }

  .contact #exampleInputEmail1 {
    height: 100px !important;
    font-size: 30px !important;
  }

  .contact #exampleFormControlTextarea1 {
    height: 200px !important;
    font-size: 30px !important;
  }

  .faq {
    margin-top: 350px;
  }

  .faq img {
    width: 700px !important;
    height: 500px !important;
  }

}
/* End 4k */

/* Tablet */
@media (max-width: 970px) {
  .navbar .container {
    margin: 20px auto;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .nav-item {
    margin: 3px 0;
  }

  .about img {
    height: 267px;
    width: 400px;
  }

  .parallax img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }
}
/* End Tablet */


/* Handphone */
@media (max-width: 425px) {

  .navbar .container {
    margin: 20px 0;
  }

  .navbar-nav .nav-link {
    font-size: 12px;
    padding: 5px;
  }

  .navbar-brand {
    font-size: 14px;
  }

  .about img {
    width: 300px;
    height: 300px;
    text-align: center;
  }

  .contact img {
    width: 300px;
    height: 300px;
  }

  .parallax img {
    height: 250px;
    width: 250px;
    object-fit: cover;
  }
}
/* End Handphone */